<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.TbYearBillMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.TbYearBill" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" property="uid" jdbcType="BIGINT" />
    <result column="first_login" property="firstLogin" jdbcType="TIMESTAMP" />
    <result column="login_diff" property="loginDiff" jdbcType="INTEGER" />
    <result column="login_diff_rn" property="loginDiffRn" jdbcType="INTEGER" />
    <result column="sign_diff" property="signDiff" jdbcType="INTEGER" />
    <result column="sign_diff_rn" property="signDiffRn" jdbcType="INTEGER" />
    <result column="report_diff" property="reportDiff" jdbcType="INTEGER" />
    <result column="report_diff_rn" property="reportDiffRn" jdbcType="INTEGER" />
    <result column="praise_diff" property="praiseDiff" jdbcType="INTEGER" />
    <result column="praise_diff_rn" property="praiseDiffRn" jdbcType="INTEGER" />
    <result column="getpoint_diff" property="getpointDiff" jdbcType="INTEGER" />
    <result column="getpoint_diff_rn" property="getpointDiffRn" jdbcType="INTEGER" />
    <result column="maxpoint_diff" property="maxpointDiff" jdbcType="INTEGER" />
    <result column="usepoint_diff" property="usepointDiff" jdbcType="INTEGER" />
    <result column="series_name" property="seriesName" jdbcType="VARCHAR" />
    <result column="pt" property="pt" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="INTEGER" />
  </resultMap>
</mapper>